body {
    font-size: 16px;
}

* {
    font-family: 'Outfit', sans-serif !important;
}

.error-msg {
    color: red;
    font-size: 14px;
}

.auth-main-content {
    background-color: #f5f7fb;
    min-height: 100vh;
}