body {
    @apply text-base;
}

* {
    font-family: 'Outfit', sans-serif !important;
}

.error-msg {
    @apply text-red-500 text-sm;
}

.auth-main-content {
    @apply bg-[#f5f7fb] min-h-screen;

    .sidebar {
        @apply fixed;
    }

    .main-container {
        @apply ml-[260px];

        .page-content {
            @apply p-4;

            .top-section {
                @apply flex items-center justify-between mb-6;

                .title-wrapper {
                    .title {
                        @apply font-semibold text-3xl tracking-tight text-gray-600;
                    }
                }
            }
        }
    }
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    @apply text-gray-600;
}

.breadcrumb {
    @apply flex items-center gap-2 py-2;

    li {
        @apply font-medium text-gray-400 text-sm cursor-pointer;

        a {
            @apply transition-all ease-in-out duration-300;

            &:hover {
                @apply text-gray-600 no-underline;
            }
        }
    }
}

.full-width-image-uploader {
    width: 100%;
    display: block;

    .rs-uploader-trigger {
        float: unset;
        width: 100%;
    }
}