.auth-main-content {
    .sidebar {
        @apply min-h-screen max-h-screen bg-stone-800 overflow-scroll;
        scrollbar-width: none;

        .side-nav {
            @apply text-white;

            .side-nav-header {
                @apply px-3 py-4 text-2xl font-semibold;
            }

            .side-nav-body {
                .menu {
                    div {
                        &.rs-sidenav-item {
                            @apply text-gray-300 font-semibold flex items-center gap-3 px-3 py-3 text-base cursor-pointer;

                            &:hover {
                                @apply bg-gray-500 text-white;

                                a {
                                    @apply text-white no-underline;
                                }
                            }
                        }
                    }

                    .rs-sidenav-item-panel {
                        @apply relative overflow-hidden text-gray-300 my-2 ps-2;

                        &::after {
                            content: "";
                            display: inline-block;
                            height: 0.65em;
                            vertical-align: bottom;
                            width: 100%;
                            margin-right: -100%;
                            margin-left: 5px;
                            @apply border-gray-600 border-t;
                        }
                    }

                    .dropdown-menu {
                        .rs-dropdown-toggle {
                            @apply text-gray-300 font-semibold flex items-center gap-3 p-3 text-base cursor-pointer;

                            &:hover {
                                @apply bg-gray-500 text-white;
                            }
                        }

                        .rs-dropdown-menu {
                            li {
                                .rs-dropdown-item {
                                    @apply text-gray-300 font-semibold flex items-center gap-3 px-12 py-3 text-sm cursor-pointer relative;

                                    &:hover {
                                        @apply bg-gray-500 text-white;

                                        a {
                                            @apply text-white no-underline;
                                        }
                                    }

                                    &::before {
                                        content: '';
                                        display: block;
                                        width: 20px;
                                        height: 1px;
                                        position: absolute;
                                        top: 50%;
                                        left: 20px;
                                        @apply bg-gray-600;
                                    }

                                    &::after {
                                        content: "";
                                        width: 1px;
                                        height: 100%;
                                        display: block;
                                        position: absolute;
                                        top: 0;
                                        left: 20px;
                                        @apply bg-gray-600;
                                    }
                                }

                                &:last-of-type {
                                    .rs-dropdown-item {
                                        &::after {
                                            height: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}