.sidebar {
    @apply bg-[#222e3c] text-white min-h-screen w-[240px];

    .sidebar-content {
        @apply min-h-screen;

        .top-section {
            @apply pb-4;

            .logo-wrapper {
                @apply px-4 font-semibold text-base py-4;
            }
        }

        .menu-wrapper {
            .menu {
                li {
                    &.menu-item {
                        @apply px-4 py-2;

                        a {
                            @apply flex gap-2 items-center;

                            .menu-text {
                                @apply text-gray-300 font-medium;
                            }
                        }
                        &.active {
                            @apply border-l-4 border-l-red-500 bg-gray-600;
                            a{
                                .icon{
                                    @apply text-white;
                                }
                                .menu-text{
                                    @apply text-white;
                                }
                            }
                        }

                    }

                    &.sidebar-header {
                        @apply px-3 py-2 mb-1 relative overflow-hidden;

                        span {
                            @apply font-medium text-gray-300 text-xs;
                        }

                        &::after {
                            content: "";
                            display: inline-block;
                            height: 0.65em;
                            vertical-align: bottom;
                            width: 100%;
                            margin-right: -100%;
                            margin-left: 5px;
                            @apply border-gray-600 border-t;
                        }
                    }
                }
            }
        }
    }
}